<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Exercise 2 flask3</title>
  </head>
  <body>
    <h1>Welcome to the CS Survey</h1>
    <form method="post">
      {{form.hidden_tag()}}
      {{form.department.label}}{{form.department}}
      <br>
      {{form.graduated.label}}{{form.graduated}}
      <br>
      {{form.degree.label}}{{form.degree}}
      <br>
      {{form.job_choice.label}}{{form.job_choice}}
      <br>
      {{form.feedback.label}}{{form.feedback}}
      <br>
      {{form.submit()}}
    </form>
  </body>
</html>
